<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel selecciones search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN nombre_seleccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_seleccion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="nombre_seleccion" 
	
	data-signal-error-for="nombre_seleccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="nombre_seleccion" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_seleccion}">
		{$label selecciones nombre_seleccion }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_seleccion}
	</div>
	<div class="r-search-field">
		{$nombre_seleccion_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_seleccion_editcontrol1}
	</div>
	
</div>

{END nombre_seleccion_fieldblock}
											
{BEGIN id_colormedia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_colormedia}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_colormedia" 
	
	data-signal-error-for="id_colormedia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_colormedia" >


	<label class="r-search-label control-label" for="{$labelfor_id_colormedia}">
		{$label selecciones id_colormedia }	</label>
	<div class="r-search-option">
		{$searchtype_id_colormedia}
	</div>
	<div class="r-search-field">
		{$id_colormedia_editcontrol}	</div>
	<div class="r-search-field">
		{$id_colormedia_editcontrol1}
	</div>
	
</div>

{END id_colormedia_fieldblock}
											
{BEGIN id_colorpantalon_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_colorpantalon}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_colorpantalon" 
	
	data-signal-error-for="id_colorpantalon{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_colorpantalon" >


	<label class="r-search-label control-label" for="{$labelfor_id_colorpantalon}">
		{$label selecciones id_colorpantalon }	</label>
	<div class="r-search-option">
		{$searchtype_id_colorpantalon}
	</div>
	<div class="r-search-field">
		{$id_colorpantalon_editcontrol}	</div>
	<div class="r-search-field">
		{$id_colorpantalon_editcontrol1}
	</div>
	
</div>

{END id_colorpantalon_fieldblock}
											
{BEGIN id_dt_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_dt}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_dt" 
	
	data-signal-error-for="id_dt{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="id_dt" >


	<label class="r-search-label control-label" for="{$labelfor_id_dt}">
		{$label selecciones id_dt }	</label>
	<div class="r-search-option">
		{$searchtype_id_dt}
	</div>
	<div class="r-search-field">
		{$id_dt_editcontrol}	</div>
	<div class="r-search-field">
		{$id_dt_editcontrol1}
	</div>
	
</div>

{END id_dt_fieldblock}
											
{BEGIN id_colorcamiseta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_colorcamiseta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_colorcamiseta" 
	
	data-signal-error-for="id_colorcamiseta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="id_colorcamiseta" >


	<label class="r-search-label control-label" for="{$labelfor_id_colorcamiseta}">
		{$label selecciones id_colorcamiseta }	</label>
	<div class="r-search-option">
		{$searchtype_id_colorcamiseta}
	</div>
	<div class="r-search-field">
		{$id_colorcamiseta_editcontrol}	</div>
	<div class="r-search-field">
		{$id_colorcamiseta_editcontrol1}
	</div>
	
</div>

{END id_colorcamiseta_fieldblock}
											
{BEGIN id_seleccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_seleccion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_seleccion" 
	
	data-signal-error-for="id_seleccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="id_seleccion" >


	<label class="r-search-label control-label" for="{$labelfor_id_seleccion}">
		{$label selecciones id_seleccion }	</label>
	<div class="r-search-option">
		{$searchtype_id_seleccion}
	</div>
	<div class="r-search-field">
		{$id_seleccion_editcontrol}	</div>
	<div class="r-search-field">
		{$id_seleccion_editcontrol1}
	</div>
	
</div>

{END id_seleccion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
