.lista-tareas {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    transition: box-shadow 0.3s ease;
    border: 2px solid #3b83f688;
  }
  
  .lista-tareas h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .agregar-tarea {
    display: flex;
    margin-bottom: 20px;
  }
  
  .agregar-tarea input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .agregar-tarea button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .lista-tareas ul {
    list-style-type: none;
    padding: 0;
  }
  
  .lista-tareas li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .lista-tareas input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .lista-tareas label {
    flex-grow: 1;
    cursor: pointer;
  }
  
  .lista-tareas label.completada {
    text-decoration: line-through;
    color: #888;
  }